<div class="container cart">

    <div class="row justify-content-start align-items-start cabecera">
        <div class="col-4">
            <div class="example-button-container">
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="goLogin()">arrow_back</mat-icon>            </div>
            </div>
        <div class="col-4">
            <h2>Registro</h2>
        </div>
    </div>
    <div class="row">
        <form #registryForm="ngForm" novalidate>
            <!-- Full Name Row -->
            <div class="row">
                <div class="col-4">
                    <label>Nombre</label>
                    <div class="form-group">
                        <input type="string" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label>Primer apellido</label>
                    <div class="form-group">
                        <input type="string" class="form-control">
                    </div>
                </div>
                <div class="col">
                    <label>Segundo apellido (Opcional)</label>
                    <div class="form-group">
                        <input type="string" class="form-control">
                    </div>
                </div>
            </div>
            <!-- Class Row -->
            <div class="row">
                <div class="col-4">
                    <label>Sección (Opcional)</label>
                    <div class="form-group">
                        <input type="string" class="form-control">
                    </div>              
                </div>
            </div>
            <!-- Username Row -->
            <div class="row">
                <div class="col-4">
                    <label>Nombre de usuario</label>
                    <div class="form-group">
                        <input type="string" class="form-control">
                    </div>              
                </div>
            </div>
            <!-- Password and Confirm Password Row -->
            <div class="row">
                <div class="col-4">
                    <label>Contraseña</label>
                    <div class="form-group">
                        <input type="password" class="form-control">
                    </div>              
                </div>
                <div class="col-4">
                    <label>Confirmar contraseña</label>
                    <div class="form-group">
                        <input type="password" class="form-control">
                    </div>              
                </div>
            </div>
            <!-- Registry Button -->
            <div class="button-container">
                <button [disabled]="registryForm.form.invalid" type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>
